@inject ICompanyService CompanyService
@inject IJSRuntime JSRuntime
@inject ICompanyService CompanyService
@inject NavigationManager NavigationManager
@*@if (Company.Id == 0)
{
    <h3>Create a new Hero</h3>
}
else
{
    <h3>Edit '@Company.Name'</h3>
}*@

<EditForm Model="@company" OnSubmit="HandleSubmit">
    <div class="form-group">
        <label>Name</label>
        <InputText @bind-Value="@company.Name" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>Description</label>
        <InputText @bind-Value="@company.Description" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label>Address</label>
        <InputText @bind-Value="@company.Address" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int companyID { get; set; }
    ProjectManagementSystem.Shared.Company company = new ProjectManagementSystem.Shared.Company();

    protected override async Task OnInitializedAsync()
    {
        if (this.companyID!=0)
        {
            this.company= await CompanyService.GetSingleCompany(this.companyID);
        }

    }

    async void HandleSubmit()
    {
        if (this.companyID != 0)
        {
            await CompanyService.UpdateCompany(company); 
        }
        else
        {
            await CompanyService.CreateCompany(company); 
        }
       
        NavigationManager.NavigateTo("companies");
    }
}